{% extends 'amyres_webapp/base.html' %}
{% load static %}

{% block title %}AMYRES - Home{% endblock %}

{% block content %}
<div class="homepage">
    <div class="carousel-section">
        <div class="carousel">
            <div class="carousel-item">
                <img src="{% static 'amyres_webapp/images/Home.png' %}" alt="Image 1">
            </div>
            <div class="carousel-item">
                <img src="{% static 'amyres_webapp/images/About.png' %}" alt="Image 2">
            </div>
            <div class="carousel-item">
                <img src="{% static 'amyres_webapp/images/Contact.png' %}" alt="Image 3">
            </div>
        </div>
        <button class="carousel-control left" onclick="moveSlide(-1)">&#10094;</button>
        <button class="carousel-control right" onclick="moveSlide(1)">&#10095;</button>
    </div>
</div>
{% endblock %}
