{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Request a service</title>
    <link rel="stylesheet" href="{% static 'amyres_webapp/css/amyres.css' %}">
</head>
    <header>
        <h1>AMYRES AGTECH: Your Research and Development Partner</h1>
        <p>"Empowering Farmers & Agribusinesses with Research-Driven Solutions for Sustainable Agriculture in Kenya."</p>
        <nav>
            <ul>
                <li><a href="{% url 'home' %} ">Home</a></li>
                <li><a href="#">About Us</a>
                    <ul class="dropdown">
                        <li><a href="{% url 'background' %} ">Background</a></li>
                        <li><a href="{% url 'about' %} ">What We Do</a></li>
                        <li><a href="{% url 'team' %} ">The Team</a></li>
                    </ul>
               </li>
               <li><a href="{% url 'products' %}">Products</a>
                <ul class="dropdown">
                    <li><a href="#AGReFIND">AGReFIND</a></li>
                    <li><a href="#Auditass">Auditass</a></li>
                </ul>
               </li>
                <li><a href="{% url 'services' %} ">Services</a>
                    <ul class="dropdown">
                        <li><a href="#field-trials">Field trials</a></li>
                        <li><a href="#Market-research">Market research</a></li>
                        <li><a href="#Literature-Reviewng">Training Needs Assessment</a></li> 
                        <li><a href="#Agri-Data-Management">Data management</a></li> 
                        <li><a href="#app-development">App development</a></li>
                        <li><a href="#Feed-efficiency">Consultancy</a></li>
                        <li><a href="#FAQ">FAQ</a></li>                    
                    </ul>
                </li>
                <li><a href="{% url 'news' %} ">News/Updates</a>
                    <ul class="dropdown">
                        <li><a href="#Recent-projects">Projects& activities</a></li>
                        <li><a href="#Featured-service">Featured service</a></li>
                        <li><a href="#Industry-insights">Industry insights</a></li> 
                     
                    </ul>
                </li>
                <li><a href="{% url 'contact' %}">Contact Us</a></li>
            </ul>
        </nav>
    </header>
<body>
    <div class="homepage">

      <!-- Dynamic Service Request Form -->
        <form action="{% url 'servicerequest' service_name=service_name %}" method="post">
            {% csrf_token %} <!-- Include CSRF token for security -->

            <label for="client_name">Name:</label>
            <input type="text" id="client_name" name="client_name" placeholder="Your full name" required>

            <label for="client_email">Email:</label>
            <input type="email" id="client_email" name="client_email" placeholder="Your email address" required>

            <label for="request_details">Details:</label>
            <textarea id="request_details" name="request_details" placeholder="Describe your needs" rows="4" required></textarea>

            <input type="hidden" id="service_name" name="service_name">
            <button type="submit" class="cta-button">Submit Request</button>
        </form>  
        </div>
    <script src="{% static 'amyres_webapp/js/amyres.js' %}"></script>
    <footer>
        <p>&copy; 2025 AMYRES AGTECH: Research,Innovation and Consultancy. All Rights Reserved.</p>
       <p>Phone: +254-769-125-073 | Email: info@amyres.co.ke</p>
    </footer>
</body>
</html>