{% extends 'amyres_webapp/base.html' %}
{% load static %}

{% block title %}AMYRES - Our Team{% endblock %}

{% block page_title %}Our Team{% endblock %}
{% block page_subtitle %}Meet the experts behind AMYRES AGTECH's innovative solutions{% endblock %}

{% block content %}
<div class="homepage">
    <!-- Team section-->
    <div class="team-container">
        <div class="team-member">
            <div class="team-member-image">
                <img src="{% static 'amyres_webapp/Images/Aoko.jpg' %}" alt="Team member 1">
            </div>
            <div class="team-member-info">
                <h3>Agriculturalist</h3>
                <h3>UI/UX Developer</h3>
                <h4><strong>Aoko Pauline</strong></h4>
                <p>Aoko collaborates with farmers to boost productivity through innovative, sustainable strategies while minimizing environmental impact.</p>
                <p>She leverages this expertise to design intuitive digital solutions that address the unique challenges of targeted audiences, enhancing user engagement.</p>
            </div>
        </div>

        <div class="team-member">
            <div class="team-member-image">
                <img src="{% static 'amyres_webapp/Images/Joseph.png' %}" alt="Team member 2">
            </div>
            <div class="team-member-info">
                <h3>Data scientist</h3>
                <h3>GIS Specialist</h3>
                <h4><strong>Joseph Onyango</strong></h4>
                <p>With a background in natural resource management, Joseph leads our research data processing, transforming complex spatial and non-spatial datasets into actionable insights that guide field applications and resource management decisions.</p>
            </div>
        </div>

        <div class="team-member">
            <div class="team-member-image">
                <img src="{% static 'amyres_webapp/Images/Amisi.jpg' %}" alt="Team member 3">
            </div>
            <div class="team-member-info">
                <h3>Statistical programmer</h3>
                <h3>Biostatistician</h3>
                <h4><strong>Amisi Pascal</strong></h4>
                <p>Amisi oversees our research design and analysis by leveraging his experience in processing complex data, developing predictive models and identifying patterns to generate actionable industry-insights through summary statistics, visualizations and comprehensive reports.</p>
            </div>
        </div>     
    </div>
</div>
{% endblock %}
